<div class="page-header">
  <h1>
    Boomarks
    <a href="/boomarks/new" class="btn btn-lg btn-success">New Boomark</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Movie</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @boomarks.each do |boomark| %>
      <tr>
        <td><%= boomark.movie.title %></td>
        <td><%= boomark.user.email %></td>
        <td>
          <a href="/boomarks/<%= boomark.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == boomark.user %>
            <a href="/boomarks/<%= boomark.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_boomark/<%= boomark.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
