<div class="page-header">
  <h3>Boomark #<%= @boomark.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Movie</dt>
      <dd>
        <% if @boomark.movie.present? %>
          <a href="/movies/<%= @boomark.movie_id %>">
            <%= @boomark.movie.title %>
          </a>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @boomark.user.present? %>
          <a href="/users/<%= @boomark.user_id %>">
            <%= @boomark.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/boomarks" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @boomark.user %>
        <a href="/boomarks/<%= @boomark.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_boomark/<%= @boomark.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
